body {
    background-color: #87a2a6;
}
#cim-div {
    padding-bottom: 20%;
    width: 100%;
    background-image: url(jedliksuli.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#navbar-nav {
    position: sticky;
    top: 0;
    padding: 0;
}