body{
    background-color:lightgray;
    margin:0;
}


.navbar-li{
    background-color: blue;
    padding: 20px;
    list-style-type: none;
    color:white;
    margin: 0;
    display: inline-block;
}

.navbar-li:hover{
    background-color: red;
    color:black;
}

#navbar{
    background-color: blue;
    margin:auto;
    position: sticky;
    top:0;
}
#navbar-ul{
    margin-top: 0;
    margin:auto;
}